table {
    min-width: 350px;
}

table, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

thead {
    display: table; /* to take the same width as tr */
    width: calc(100% - 17px); /* - 17px because of the scrollbar width */
}

tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 200px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

th, td {
    width: 33.33%; /* to enable "word-break: break-all" */
    padding: 5px;
}

tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
    border-bottom: none;
    border-left: none;
}

tr {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.scenario-container {
    display: inline-flex;
}

.table-container {
    width: 50%;
    padding: 5px;
}